* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue Light", sans-serif;
    font-weight: 300;
}

body {
    background: #323232;
}

video {
    width: 500px;
    display: inline-block;
}

main {
    width: 537px;
    display: block;
    margin: 50px auto;
}

.speed {
    display: inline-block;
    border: 1px solid darkgrey;
    width: 30px;
    border-radius: 50px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    background: lightgrey;
}
.speed:hover {
    filter: brightness(1.1);
}
    .speed-value {
        background: lightgreen;
        height: 18%;
        position: relative;
    }
        .speed-value p {
            text-align: center;
            position: absolute;
            bottom: 10px;
            width: 100%;
            font-size: 15px;
            user-select: none;
        }
p.below {
    bottom: -40px;
}
