* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue Light", sans-serif;
    font-weight: 300;
}

body {
    background: #535353;
}

h1 {
    font-size: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    transition: .2s ease color;
    cursor: default;
}

.dragbox {
    display: block;
    height: 85vh;
    width: 100%;
    margin: 15vh 20px 0;
    white-space: nowrap;
}
    .dragbox div {
        display: inline-block;
        width: 190px;
        height: 100%;
        transition: .6s transform;
        transition-timing-function: cubic-bezier(0, 0, 0, 1.75);
        cursor: pointer;
        animation-duration: .5s;
    }
    .dragbox div:hover {
        transform: translateY(-2%);
    }
        .dragbox div p {
            margin: 20px;
            color: white;
            text-shadow: 1px 1px 1px #000000;
            transition: .3s ease opacity;
        }

h1,
.no-select {
    user-select: none;
}

.no-opacity {
    opacity: 0;
}

@keyframes copy {
    0% { filter: brightness(1); }
    15% { filter: brightness(1.6); }
    100% { filter: brightness(1); }
}
